body{
    background-color: gray;
}
section .about{
    width: 40%;
    float: left;
    margin: 3%;
    padding: 2%;
    background-color: #fff;
}
img{
    width: 100%;
    height: 500px;
}
.ok{
    color: green;
}